* {
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
}

.card {
  border-radius: 11px;
  border: solid 1px black;
  background: wheat;
  width: 120px;
  height: 180px;
  filter: drop-shadow(2px 4px 6px black);
  position: absolute;
  transition: left .6s, top .6s;
  animation-timing-function: ease;
}

.card * {
  position: absolute;
  font-weight: bold;
  pointer-events: none;
}

.buyCost {
  right: 4px;
}
.costDiamonds {
  top: 20px;
}

#headup-wrap {
  position: absolute;
  right: 10px;
}

.effectText {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

#headup-wrap * {
  font-size: large;
  font-weight: bold;
}