.card {
  border-radius: 11px;
  border: solid 1px black;
  background: wheat;
  width: 120px;
  height: 180px;
  filter: drop-shadow(2px 4px 6px black);
  position: absolute;
}

.card * {
  position: absolute;
}

.buyCost {
  right: 4px;
}
.costDiamonds {
  top: 20px;
}

#headup-wrap {
  position: absolute;
  right: 10px;
}

.effectText {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}