* {
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  transform-origin: center;
}

html {
  height: 100%;
}
body {
  overflow: hidden;
  width: 1000px;
  height: 100%;
  position: relative;
  margin: auto;
  height: 1000px;
}

#game-wrap.hidden {
  display: none;
}
#game-wrap {
  background-color: azure;
  width: 100%;
  height: 100%;
}

.card-wrap {

  width: 120px;
  height: 180px;
  filter: drop-shadow(2px 4px 6px black);
  position: absolute;
  transition: left .6s, top .6s, transform .3s;
  animation-timing-function: ease;
  position: absolute;
}
.scale-wrap {
  border-radius: 11px;
  border: solid 1px black;
  background: wheat;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
}
.card-wrap.monster .scale-wrap {
  background: pink;
}
.card-wrap:hover {
  transform: scale(1.1, 1.1);
  z-index: 500;
  cursor: pointer;
}

.card-wrap  * {
  position: absolute;
  font-weight: bold;
  pointer-events: none;
  user-select: none;
}

.buyCost {
  right: 4px;
}
.costDiamonds {
  top: 20px;
}
.banishVp {
  right: 4px;
}
.defendCost {
  left: 35px
}

#headup-wrap {
  position: absolute;
  right: 10px;
}

.effectText {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  font-size: 29px;
}

.name {
  text-align: center;
  top: 45px;
  width: 100%;
}

#headup-wrap * {
  font-size: large;
  font-weight: bold;
}


.flyer {
  position: absolute;
  transition: left 1s, top 1s;
  overflow: hidden;
  z-index: 2500;
  font-size: 30px;
}

button {
  font-size: 28px;
  font-weight: bold;
  background: green;
  color: white;
  border-radius: 11px;
  border: none;
  padding: 15px;
  transition: transform 0.3s, filter 0.3s, background-color 0.3s;
  filter: drop-shadow(5px 5px 2px black);

}
button#endturn {
  right: 16px;

  position: absolute;
  bottom: 10px;
}

#monsters {
  position: absolute;
  right: 20px;
  width: 300px;
  height: 200px;
  transform: scale(0.5, 0.5);
  transform-origin: center;
}

button:hover {
  transform: scale(1.1, 1.1);
  filter: drop-shadow(8px 8px 8px black);
  cursor: pointer;
}
button:active {
  transform: scale(0.9, 0.9);
  filter: drop-shadow(1px 1px 1px black);
  background-color: #33dd55;
}

button.summon-button {
  left: 45px;
  padding: 1px;
  font-size: 20px;
  position: absolute;
  background: lightblue;
  border: none;
  filter: drop-shadow(2px 2px 2px black);
  border-radius: 100px;
  pointer-events: all;
  transition: transform 0.3s, filter 0.3s, background-color 0.3s;
}

button.summon-button:hover {
  transform: scale(1.1, 1.1);
  filter: drop-shadow(8px 8px 8px black);
  cursor: pointer;
}

button[disabled] {
  background-color: gray;
}

#rules {
  position: absolute;
  top: 10px;
  z-index: 3500;
  background-color: rgba(255, 200, 97, 0.6);
  backdrop-filter: blur(10px);
  padding: 30px;
  width: 100%;
  margin: 50px;
  width: auto;
  border-radius: 30px;
  border: solid 4px rgb(117, 70, 0);
  transform: translate(0, 500px) scale(0.5, 0.5);
  opacity: 0;
  transition: transform .5s, opacity 0.5s;
  pointer-events: none;
}

#rules.open {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: all;
}
.endscreen {
  position: absolute;
  top: 30%;
  padding: 30px;
  font-size: 30px;
  border-radius: 5px;
  z-index: 1500;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  text-align: center;
}
div#gameover {
  color: #a50000;
  border: 3px brown solid;
  background: #e7663db5;
}
div#gamewin {
  color: #0a5300;
  border: 3px rgb(0, 105, 47) solid;
  background: #1afa4bb2;
}

.hidden {
  display: none;
}